{{ define "slack.default.title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
{{ end }}

{{ define "slack.default.text" }}
{{ range .Alerts }}
*Alert:* {{ .Labels.alertname }}
*Severidade:* {{ .Labels.severity }}
*Descrição:* {{ .Annotations.description }}
*Valor:* {{ .Annotations.value }}
*Início:* {{ .StartsAt | since }}
{{ if .Labels.instance }}*Instância:* {{ .Labels.instance }}{{ end }}
{{ end }}
{{ end }}

{{ define "slack.default.grafana" }}
https://grafana.onlywave.com.br/d/payment/payment-service?from={{ .StartsAt.Unix }}&to={{ .EndsAt.Unix }}
{{ end }} 