# Dependências
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ambiente
.env
.env.*
!.env.example

# Logs
logs
*.log

# Build
dist
build

# Versionamento
.git
.github
.gitignore

# Outros
.DS_Store
.vscode
.idea
*.md
!README.md

# Testes
coverage
.nyc_output
test
tests

# Docker
Dockerfile
docker-compose.yml
.dockerignore 