# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Ambiente
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Testes
coverage/
.nyc_output/

# Docker
docker-compose.override.yml

# Redis
dump.rdb

# Métricas
prometheus_data/
grafana_data/
